<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css.css" />
    <title>Document</title>
  </head>
  <body>
    <form action="{{url_for('check_method_of_manager')}}" method="post">
      <div>
        <input type="text" name="get_item" placeholder="Input new item" />
      </div>
      <div>
        <input type="text" name="get_price" placeholder="Input this price" />
      </div>
      <div><button type="submit">Create New Item</button></div>
    </form>
  </body>
</html>
